
.card {
    background-color: var(--a-white) ;
    display: flex;
    padding: 80px;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    align-self: stretch;
}
.dropdown {
    /* justify-content: left; Trenger vi denne?*/
}
.datepicker {
    display: flex;
    align-items: flex-start;
    gap: 40px;

}

.leggtil {
    margin-top: 20px !important;
  }
