.btn {
  border: 0;
  background-color: transparent;
  display: flex;
}

.btn:focus {
  color: var(--a-surface-action-selected-hover);
  
  
  
}

.btn:hover {
  color: var(--a-surface-action-selected-hover);
  background-color: var(--a-surface-neutral-subtle-hover);
  border-radius: 10%;
}

.icon {
  fontsize: "1.6rem";
}
