body,
html {
  background-color: var(--a-gray-100);
  margin: 0;
  padding: 0;
}
.App {
  background-color: var(-a--white);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--a-spacing-4);
  margin-top: var(--a-spacing-7); 
}

.timeline {
  width: 100%;
}

.table {
  gap: 16px;
}
